<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
<!--
    <% if(false) { %>
        <h2>Hello world!</h2>
    <% } else { %>
        <h2>Hola mundo</h2>
    <%} %>
-->

<!--
    <% ['Juanita', 'Pedrito', 'Maria'].forEach(function (persona){ %>
        <h2> Hola <%= persona %></h2>
        
     <%  }); %>
-->


<% if (trajoFacturas) { %>
    <h2>EL docente más copado es <%= docente %> porque trajo facturas. Y quienes más comieron fueron: </h2>
    <% } else { %>
    <h2>Che <%= docente %> y las Facturas?</h2>
<% } %>

</body>
</html>