<html>
<head>
    <meta charset="UTF-8">
    <title>Ejercicio Restaurante</title>
    <link rel="stylesheet" href="/css/restaurante.css">
</head>
<body>

    <div class="cont1">
        <header class="header">
            <h1>Nuestro restó</h1>
            <h2>Carta</h2>
        </header>
    </div>

    <div class="cont2">
        <nav>
            <ul>
                <li>Entradas</li>
                <li>Plastos principales</li>
                <li>Ensaladas</li>
         </ul>
        </nav>
    </div>
</body>
</html>